body {
    font-family: 'Mochiy Pop One', sans-serif;
    margin: 0;
}

span {
    color: salmon;
}

.btn {
    color: aliceblue;
    text-decoration: none;
    /* font-size:large; */
    font-weight: 600;
    background-image: linear-gradient(tomato, salmon);
    padding: 5px 10px;
}

.flexible-container {
    display: flex;
}

.welcome {
    padding: 30px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
}

.half-width img {
    margin-left: 10%;
    width: 90%;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream {
    margin-left: 8%;
}

.experiences h3 {
    color: salmon;
}

.experiences {
    padding: 35px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;

}

.fulldev {
    width: 40%;
    box-shadow: 0px 10px 50px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-left: 5px solid tomato;
}

.babydev {
    /* kototuku  jbe left to right */
    /* upor theke nice kototuku jbe */
    /* kototuku spread hobe*/
    /* ls=ast er ta hocche kototuku spread hbe */
    width: 40%;
    box-shadow: 0px 10px 50px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-left: 5px solid#FF3D8A;
}

footer {
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
}